@model Integral_exchange.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "register";
}
<h2>@ViewBag.Title.</h2>
<h3>Associate your @ViewBag.LoginProvider account。</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

<h4>Associated form</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<p class="text-info">
    You have successfully performed <strong> authentication @ viewbag.loginprovider </strong> authentication.
    Please enter the user name of this site below, and then click the "register" button to finish
    Sign in。
</p>
    <div class="form-group">
        @Html.LabelFor(m => m.UserID, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserID, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
